html {
  background-color: floralwhite;
}
h1 {
  text-shadow: none;
}

a {
  box-shadow: none;
  text-shadow: none;
  background-image: none;
}

li {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.layout {
  margin-left: 2rem;
  margin-right: 2rem;
}

.layoutBottom {
  margin-bottom: 2rem;
}

.content {
  height: auto;
  width: auto;
}

.contentContainer {
  max-width: 80%;
  margin: auto;
}

.logo {
  height: auto;
  margin-bottom: 0;
  margin-right: 0.5rem;
  margin-left: 2rem;
  width: 100px;
  max-width: 100%;
  float: left;
}

.heading {
  display: inline-block;
  white-space: nowrap;
  margin-top: 1rem;
}

.pageTitle {
  display: inline-block;
  white-space: nowrap;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

.profilePicture {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  float: right;
  margin-right: 4rem;
  margin-top: 2rem;
}

.imageTextBox {
  display: inline-block;
  width: 100%;
}
